<div class="container">
  <br>
  <br>

  <div class="frame">
    <h2>Status Message</h2>
    <h4>What does your email say about you?</h4>

    <div class="info">
    <a href="http://www.npr.org/blogs/health/2014/09/01/344043763/our-use-of-little-words-can-uh-reveal-hidden-interests">But some of [James Pennebaker's] most interesting work has to do with power dynamics. He says that by analyzing language you can easily tell who among two people has power in a relationship, and their relative social status.

      "It's amazingly simple," Pennebaker says, "Listen to the relative use of the word "I."

      What you find is completely different from what most people would think. The person with the higher status uses the word "I" less.</a>
    </div>

    <div class="spacer"></div>

    <div class="search_form">
      <form action="/" method="post">

      <textarea name="email" rows="6" cols="40">
      </textarea>
      <input type="submit" value="Analyze your email" class="search-button">
      </form>
    </div>



      <p>
        <% if defined?(@text) %>
          First-person pronouns comprise <strong><%= @percentage %>%</strong> of this email:
          <br><br>
          <%= @text %>
        <% end %>
      </p>

    <div class="spacer"></div>
    <div id="footer">
      <p>
        <a href="mailto:kari.anne.mah@gmail.com">c/o Kari Mah</a>
      </p>
    </div>

</div>
</div>