.container {max-width: 800px; margin: 0 auto;border: 5px #C9C5DB solid;}

body {font-family: Libre Baskerville, Baskerville, Georgia, serif; font-size: 18px; background: #fff; color: #333; margin: 0px; padding: 20px 20px 20px 20px; }

h2, h4, p {
    text-align: center;
}

.frame {
    margin: 0 auto;
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;

}

.search_form {
    display:inline-block;
    padding-left: 0em;
    padding-right: 0em;
}

.info {
    text-align: left;
}

.spacer {
    padding-top: 1em;
}

a, a {color: #333; text-decoration: none; padding-bottom: 0px; border-bottom: 2px #C9C5DB solid;}

p a:visted {color: #ff00ff;}

a:hover {color: #C9C5DB;}

a:active {color: #C9C5DB;}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #C9C5DB;
    margin: 1em 0; padding: 0; }

textarea {
    margin:5px;
    font-size: 18px;
    font-family: Libre Baskerville, Baskerville, Georgia, serif;
    text-align: left;
}

.search-button {
    position: relative;
    vertical-align: top;
    width: 40%;
    height: 22px;
    padding: 0;
    font-size: 18px;
    color: black;
    text-align: center;
    background: #C9C5DB;
    font-family: Libre Baskerville, Baskerville, Georgia, serif;
    border: 0;
    border-bottom: 2px solid #C9C5DB;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #C9C5DB;
    box-shadow: inset 0 -2px #C9C5DB;
}

.search-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}